#heading{
    text-align: center;
}
#func{
    text-align: center;
}

#choose div{
    padding: 20px;
    width: 300px;
}
#chooseMaterial{
    display: none;
}
div{
    margin: 0 auto;
}
pre[class*="language-"]{
    margin-left: 25%;
}
.darkMode{
    color: #ccc;
    background: #2d2d2d;
}
#hiddenInput{
    /*visibility: hidden;*/
    opacity:0;
    filter:alpha(opacity=0);
}
#hiddenDiv{
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0px;
}
#arrow{
    width: 10px;
    position: absolute;
    height: 8px;
    background: rgb(50,200,180);
    /*left: 200px;*/
}
.errArrow{
    background: #f57242;
    width: 10px;
    position: absolute;
    height: 22px;
}