.darkMode{
    color: #ccc;
    background: #2d2d2d;
}
#hiddenInput{
    /*visibility: hidden;*/
    opacity:0;
    filter:alpha(opacity=0);
}
#hiddenDiv{
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0px;
}
#arrow{
    width: 10px;
    position: absolute;
    height: 5px;
    background: rgb(50,200,180);
    /*left: 200px;*/
}
.errArrow{
    background: red;
    width: 10px;
    position: absolute;
    height: 5px;
}