<!DOCTYPE html>
<html>
    <head>
        <title>Code Typing Practice</title>
       
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "m.css" %}">
        <!-- prism -->
        <link rel="stylesheet" type="text/css" href="{% static "prism.css" %}">
        <script type="text/javascript" src="{% static "prism.js" %}"></script>

    </head>
    <body class="darkMode">
        <div id="heading">
            <h1>Code Typing Practice</h1>
            <h3><pre>Practice code typing here:)   |   Author: Zhu Jiayin <a href="https://github.com/viridityzhu">[Github]</a></pre></h3>
        </div>

        <div id="func">
            <div id="choose">
                <form method="get" name="chooseTypingMaterial">
                    <div id="chooseType" style="display:{{display1}}">
                        <p>Choose Code Language:</p>
                        <input type="text" name="choose" list="materialTypeList">
                        <datalist id="materialTypeList">
                            <option>C codes</option>
                            <option>Java codes</option>
                            <option>Python codes</option>
                            <!-- <option>English Articles</option> -->
                            <!-- <option>Randomly Mixed</option> -->
                        </datalist>
                        <button type="submit">Start</button>
                    </div>
                </form>

                <form method="get" name="materialLst" id="materialLst">
                    <div id="chooseMaterial" style="display:{{display2}}">
                        <p>Choose Materials from List:</p>
                        <input type="text" name="material" id='materialInput' list="materialList">
                        <datalist id="materialList">
                           {% for i in materials %}
                                <option>{{i}}</option>
                            {% endfor %} 
                        </datalist>
                        <button type='submit' name="typeName" value="{{typeName}}" id='typeNameButton'>Select</button>
                    </div>
                </form>
            </div>

            <h4 id="typingStatus">Press Space to start.</h4>
            <h5>Use the right arrow key to skip code blocks.</h5>

            <div id="codeDiv">
                <pre><code class="lang-{{language}}">{% for i in sentences%}{{i}}{% endfor %}
</code></pre>
            </div>
        </div>

        <div id="hiddenDiv">
            <input type="text" name="hiddenInput" id="hiddenInput">            
        </div>
        <div id = "arrow"></div>

    </body>


</html>

<!-- <script type="text/javascript">
    window.Prism = window.Prism || {};
    Prism.manual = true;
    // add a new <script> to load Prism's script
    // Prism.highlightAllUnder(document);
</script> -->
<script type="text/javascript">
    function unescape(string) {
        // This is for convert the &#nn; signs to normal signs like "'"
        return new DOMParser().parseFromString(string,'text/html').querySelector('html').textContent;
    }
    letters = unescape("{{letters}}");
    nowLen = 0;
    isAfterStart = false; // is after start
    codeElms = document.getElementsByTagName('code')[0].children;
    currentElmNum = 0;
    curElm = codeElms[0];
    var eHiddenInput = document.getElementById("hiddenInput");
    
    var start = function(e){
        if(e.code == 'Space') {
            document.getElementById('typingStatus').innerHTML = 'Status: Start';
            document.getElementById('typingStatus').style.color = 'green';
            var eHiddenInput = document.getElementById("hiddenInput");
            eHiddenInput.focus();
            isAfterStart = true;
            document.removeEventListener("keypress",start);
        }
    };
    var pause = function(e) {
        document.getElementById('typingStatus').innerHTML = 'Status: Pause. Press Space to start.';
        document.getElementById('typingStatus').style.color = 'red';
        document.addEventListener("keypress",start);
    };
    var afterStart = function(e) {
        // after start, there'll be a space inputted to the ans, so delete this space.
        if(isAfterStart) {
            
            eHiddenInput.value = eHiddenInput.value.slice(0,eHiddenInput.value.length-1);
            // console.log('slice::: ', eHiddenInput.value);
            isAfterStart = false;
        }
    }
    var submitMaterialChoice = function submitMaterialChoice(){
        // material=hannuota.py&typeName=Python+codes
        var material = "*random";
        var typeName = '{{language}} codes';
        var form = document.getElementById('materialLst');
        var materialInput = document.getElementById('materialInput');
        var typeNameButton = document.getElementById('typeNameButton');

        materialInput.value = material;
        typeNameButton.value = typeName;
        typeNameButton.click();

    }
    var judge = function judge(e) {
        curElm = codeElms[currentElmNum];
        try{
            var curStr = curElm.textContent;
        }
        catch(e){
            // finish one material, move on to another one
            submitMaterialChoice();
        }
        
        var inputStr = e.target.value;
        var inputLen = inputStr.length;
        var isRight = true;
        
        console.log('inputStr: '+inputStr+
            '\ncurStr '+ curStr);


        if (e.code == 'ArrowRight'){
            // skip this code element
            console.log(e.code);

            // highlight current element
            curElm.classList.remove("doNotHighlight");
            // move to next element
            curElm = codeElms[++currentElmNum];
            // refresh input
            eHiddenInput.value = '';
            

            // This is a \n or tab
            while(curElm.classList.contains('lf') || curElm.classList.contains('tab')){
                console.log('lf or tab.');
                curElm = codeElms[++currentElmNum];
                moveArrow(curElm, 0, 1);
            }
        }



        // arrow position depends on curElm.left and inputLen/curStr.length
        moveArrow(curElm, inputLen, curStr.length);

        deleteErrArrow();

        for(var curLen = 0; curLen < inputLen; curLen ++){
            if(inputStr[curLen] != curStr[curLen]) {
                // error posion depends on curElm and curLen
                createErrArrow(curElm, curLen, curStr.length, inputStr[curLen]);
                isRight = false;
            }
            else if (curLen == inputLen){
                isRight = true;
                
            }
        }

        if((inputLen >= curStr.length) && isRight) {
            // highlight current element
            curElm.classList.remove("doNotHighlight");
            // move to next element
            curElm = codeElms[++currentElmNum];
            // refresh input
            eHiddenInput.value = '';
        }

        // This is a \n or tab
        while(curElm.classList.contains('lf') || curElm.classList.contains('tab') || curElm.classList.contains('comment')){
            console.log('lf or tab or comment.');
            // highlight current element
            curElm.classList.remove("doNotHighlight");
            curElm = codeElms[++currentElmNum];
            moveArrow(curElm, 0, 1);
        }
         

        // // judge inputs and right answers
        // inputLen = e.target.value.length;
        // rightStr = letters.slice(0, inputLen);
        // inputStr = e.target.value;
        // isRight = (inputStr == rightStr);
        // console.log('right ans: '+rightStr+
        //     '\nEntered: '+inputStr+
        //     '\nRight? '+ isRight);
        // if(isRight) {
        //     // if ans right, then highlight codes
            
        //     // collection of elements inside <code> tag

        //     for (var elmI = 0, toHighlightLen = 0; toHighlightLen < inputLen; elmI++) {
        //         // for every element item inside code, judge and highlight is
        //         console.log(elmI,codeElms[elmI]);
        //         rect = codeElms[elmI].getBoundingClientRect();
        //         console.log("rect.left: ",rect.left);
        //         document.getElementById("arrow").style.left = rect.left + 'px';
        //         document.getElementById("arrow").style.top = rect.bottom + 'px';

        //         if(codeElms[elmI].classList.contains('lf')) {
        //             // This is a \n, TODO: arrow goes to next line
        //             console.log("lf.");
        //             continue;
        //         }
        //         toHighlightLen += codeElms[elmI].textContent.length;
        //         if(inputLen >= toHighlightLen){
        //             // now len reaches the length of elmI, then we can highlight the elmI, by remove the "doNotHighlight" class
        //             codeElms[elmI].classList.remove("doNotHighlight");
        //         }
        //         console.log(codeElms[elmI].textContent,toHighlightLen,inputLen);
        //     };
        // };
    };
    var moveArrow = function moveArrow(elm, inputLen, totalLen, arrowDiv = undefined) {
        var rect = elm.getBoundingClientRect();
        if (arrowDiv == undefined){
            arrowDiv = document.getElementById('arrow');
        }
        arrowDiv.style.left = rect.left + (rect.right - rect.left) * (inputLen / totalLen) + 'px';
        arrowDiv.style.top = rect.bottom + window.scrollY + 'px';
        return arrowDiv.style.left
    };
    var createErrArrow = function createErrArrow(elm, inputLen, totalLen, letter){
        var errArr = document.createElement('div');
        errArr.classList += 'errArrow';
        errArr.innerHTML = letter;
        arrLeft = moveArrow(elm, inputLen, totalLen, errArr);
        document.getElementsByTagName('body')[0].appendChild(errArr);
        return errArr;
    };
    var deleteErrArrow = function deleteErrArrow(){
        errs = document.getElementsByClassName("errArrow");
        var errNum = errs.length;
        while(errs.length > 0){
            errs[0].parentNode.removeChild(errs[0]);
        }
        
        
        
    };
    document.addEventListener("keypress",start);
    document.getElementById("hiddenInput").addEventListener("input",afterStart);
    document.getElementById("hiddenInput").addEventListener("keyup",judge);
    document.getElementById("hiddenInput").addEventListener("focusout",pause);


</script>